
body {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-button {
    font-size: 2em;
    text-align: left;
    background-color: red;
    
    border: solid white 5px;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-style: Impact;
    
    font-size: 5em;
    background: linear-gradient(to right, rgb(134, 4, 4) 10%, red 50%, #696969 60%);
    background-clip: border-box;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

ul {
    margin: 0;
    padding: 0;
}


#start-button {
    margin: auto;
    display: block;
    background-color: rgb(4, 134, 69);
    color: white;
    height: 100px;
    width: 500px;
    font-size: 1.5em;
    border: solid white 5px;
    border-radius: 10px;
}

.question-slide {
    animation: slideRight 500ms ease-out;
    font-size: 4em;
}

.answer-button {
    margin: auto;
    display: block;
    margin: 25px auto;
    background-color: rgb(134, 4, 4);
    color: white;
    height: 100px;
    width: 500px;
    font-size: 1.5em;
    border: solid white 5px;
    border-radius: 10px;
    animation: slideRight 500ms ease-out;
}

@keyframes slideRight{
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(0%);
    }
  }


#timer {
    font-size: 1.5em;
    margin: auto auto 2% auto;
    background-color: yellow;
    color: black;
    border: solid white 5px;
    border-radius: 10px;
    width:  250px;
    height: 32px;
    display: block;
    text-align: center;
}

#comment {
    font-size: 2em;
}

button:hover {
    background-color: rgb(74, 74, 169);
}