:root {
    --darkRed: #860404;
    --darkSilver: #696969;
    --green: #048645;
    --yellow: #bebc45;
    --blue: #4a4aa9;
    --border: solid white 5px;
    --border-radius: 10px;
  }

body {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-button {
    font-size: 2em;
    text-align: left;
    background-color: var(--darkRed);
    border: var(--border);
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-style: Impact;
    font-size: 5em;
    background: linear-gradient(to right, var(--darkRed) 10%, red 50%, var(--darkSilver) 60%);
    background-clip: border-box;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

ul {
    margin: 0;
    padding: 0;
}


#start-button {
    margin: auto;
    display: block;
    background-color: var(--green);
    color: white;
    height: 100px;
    width: 360px;
    font-size: 1.5em;
    border: var(--border);
    border-radius: var(--border-radius);
}

#question {
    font-size: 3em;
}

.question-slide {
    animation: slideRight 500ms ease-out;
    font-size: 4em;
}

.answer-button {
    margin: auto;
    display: block;
    margin: 25px auto;
    background-color: var(--darkRed);
    color: white;
    height: 100px;
    width: 360px;
    font-size: 1.25em;
    border: var(--border);
    border-radius: var(--border-radius);
    animation: slideRight 500ms ease-out;
}

@keyframes slideRight{
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(0%);
    }
  }

#timer {
    font-size: 1.5em;
    margin: auto auto 8% auto;
    background-color: var(--yellow);
    color: black;
    border: var(--border);
    border-radius: var(--border-radius);
    width:  250px;
    height: 32px;
    display: block;
    text-align: center;   
}

#comment {
    font-size: 2em;
}

.scores-list {
    font-size: 30px;
}

.input-element {
    width: 15%;
    height: 2%;
    padding: 20px;
    margin: auto 10px;
    box-sizing: border-box;
    
}

#input-initials {
    font-size: 2em;
    animation: slideRight 3s ease-in-out;
}

.submit-button {
    height: 2%;
    width: 15%;
    font-size: 0.5em;
    background-color: var(--darkSilver);
    color: white;
}

button:hover {
    background-color: var(--blue);
}

.submit-button:hover {
    background-color: var(--green);
    color: black;
}
